section(class=introSection + ' introSectionMainPage')
	.container
		div(class=introSectionWrapper + ' mainPageIntroSectionWrapper')
			h1(class=titleDefault__H1+ ' ' + ClassintroSection__H1+ ' ' +colorTextBlack + ' title-company-introSection')
				|	Аверьянова Екатерина Владимировна
			div(class='intro-section__intro')
				div(class='intro-section__text')
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						|	Запись на приём:
						|
						a(href='tel:+78129050707')
							b +7 (812) 905-07-07,
						|	
						a(href='tel:+79291050707')
							b +7 (929) 105-07-07
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						|	Клиника доктора Тимчука
						|
						a(href='https://osteometod.ru/') 
							b osteometod.ru
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b Часы работы клиники:
						|	с 10-20 часов ежедневно
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b Адрес клиники:
						a(href='#map') г.Санкт-Петербург, ул. Парадная д. 4
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						span 
						i ниже на сайте встроены гугл-карты, где можно подробнее посмотреть адрес	
				div(class='intro-section__image-wrapper')
					+pictureClassName(
						'main-avatar',
						'main-avatar', 
						webp, 
						'images/content/mammy', 
						'images/content/mammy@2x', 
						)
				
			div(class='intro-section__about')
				div(class='intro-section__text')
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b Аверьянова Екатерина Владимировна
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						| Врач – иглорефлексотерапевт
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						| Невролог
				hr
				ul(class='intro-section__text') 
					p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b История обучения
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b В 1993 году 
						|	с отличием закончила Ленинградский Педиатрический медицинский институт
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2005 г. 
						|	интернатура по неврологии СПбГПМА
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2007 г. 
						|	курсы повышения квалификации по программе: «Классическая и клиническая гомеопатия» СПбГМА им. И. И. Мечникова
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2008 г. 
						|	курсы повышения квалификации по программе: «Гирудотерапия» СПбГМА им. И. И. Мечникова
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2008 г. 
						|	краткосрочное повышение квалификации по программе: «Гомеопатическая мезотерапия в клинической практике»
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2008 г. 
						|	профессиональная переподготовка по рефлексотерапии СПБГПМА
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b С 2010 года
						|  по сегодняшний день работаю врачом рефлексотерапевтом в КДЦ 85 (с 2017 года и неврологом)
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2010 г. 
						|	профессиональная переподготовка по восстановительной медицине СПбГПМА
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2011 г.
						|	курсы повышения квалификации по программе: «Неврология раннего детского возраста»
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2012–2013 г.
						|	обучение у преподавателей Московской Су Джок Академии на базе центра Телли
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2013 г 
						|	курсы повышения квалификации по программе: «Пограничные нервно–психические расстройства детей и подростков» СПбГПМУ
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2016 г. 
						|	профессиональная переподготовка по Медико–социальной экспертизе Санкт–Петербургский институт усовершенствования врачей экспертов Минтруда России
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						|	Проходила обучение в форме семинаров и вебинаров у ректора Таньцзиньского университета профессора Ван Вэй на различные темы, врача рефлексотерапевта Зайцева С.
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						|	Вебинар по Акупунктурному омоложению Глазковой О, проводимых Ассоциацией Рефлексотерапевтов.
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2021 г. 
						|	фитотерапия, травничество на базе Учебно–оздоровительный центр Елены Корсун.
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2022г 
						|	курсы повышения квалификации по детской неврологии
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 2022 г 
						|	курсы повышения квалификации по рефлексотерапии (комплексное лечение болевых синдромов)
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection'+' special')
						|	Интересны нестандартные способы лечения человека.
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection'+' special')
						|	Ищу возможность подбора лечения с учётом даты рождения.
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b Сертификат специалиста 0178270084742 «Неврология»  
						|	выдан «Санкт-Петербургский государственный педиатрический медицинский университет»
						|
						b 26.01.2018  г. Санкт-Петербург.    
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b Сертификат специалиста 0178270104687 «Рефлексотерапия»
						|	 выдан «Санкт-Петербургский государственный педиатрический медицинский университет»
						|
						b 08.06.2019 г. Санкт-Петербург
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 09.2022 г 
						|	обучение неоклассической акупунктуре
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 11.2022 
						|	участие в мастер классе по неоклассической акупунктуре
					li(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
						b 11.2022 
						|	аккредитация по неврологии

			include ../../modules/includes/sliders/sliderMain/sliderMain

			div(class='intro-section__map' id='map')
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.4111036729964!2d30.3711206!3d59.9419135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696319993f28c0b%3A0x79adc23c6cb3192a!2z0J_QsNGA0LDQtNC90LDRjyDRg9C7LiwgNCwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTAxNQ!5e0!3m2!1sru!2sru!4v1669546728228!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")